@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@800&family=Space+Mono:ital@1&display=swap');


body {
    background-color: black;
    background-image:URL(pictures/background.jpg) ;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    font-family: 'Eczar', serif;
}

main div {
    max-width: 60%;
    background-color: black;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

main div p {
    font-family: 'Space Mono', monospace;
}

main div form {
    font-family: 'Space Mono', monospace;
}

main div group {

    align-items: center;
    justify-content: center;
    opacity: 1;
}

.flex-container {
    display: flex;
    flex-direction: column;

}

.flex-container img {
    max-width: 85%;
    height: auto;
    padding: 0px 0px 30px 0px;
}

/** This one is not working
div .app {
    display: flex;
    justify-content: center;
    align-items: center;
}
**/

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}