body {
    background-color: black;
    background-image:URL(pictures/background.jpg) ;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
}

main div {
    max-width: 60%;
    background-color: black;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div .app {
    align-items: center;
    justify-content: center;
    opacity: 1;
}

/** This one is not working
div .app {
    display: flex;
    justify-content: center;
    align-items: center;
}
**/

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}